/* src/app/globals.css */

/* Import de la police Bebas Neue depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

/* Import du préflight (reset) de Tailwind */
@import "tailwindcss";

/* Définition des variables CSS standards */
:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Styles globaux */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-open-sans-regular), sans-serif;
  font-size: 20px;
}

/* Styles pour les titres (pour h4, h5, h6 – h1, h2 et h3 sont stylisés séparément) */
h4, h5, h6 {
  font-family: var(--font-bebas-neue), sans-serif;
  @apply text-gray-400;
}

/* Styles pour les paragraphes */
p {
  font-family: var( --font-open-sans-light), sans-serif;
  font-weight: 300;
}

/* Définition du thème personnalisé avec @theme */
@theme {
  /* Tokens de taille (pour référence) */
  --text-title-1: 85px;
  --text-title-2: 65px;
  --text-title-3: 46px;
  --text-title-4: 34px;
  --text-title-5: 26px;
  --text-title-6: 20px;
  --text-title-7: 14px;
  --text-title-8: 12px;

  /* Dégradés personnalisés
     blacks = #000000
     gray-600 = #4b5563
     gray-700 = #374151
     gray-800 = #1F2937
     gray-950 = #111827
  */
  --color-bgGardient1: linear-gradient(to right, #EB5E57, #4445D2);
  --color-bgGardient2: linear-gradient(to right, #000E59, #AF8FF7);
  --color-bgGardientNoire: linear-gradient(to right, #1F2937, #111827);
  --color-bgGardientNoire2: radial-gradient(ellipse at top, #1F2937 15%, transparent 85%);



  /* Nouveau token pour la bordure en dégradé */
  --color-bordure-gardient: linear-gradient(to right, #EB5E57, #4445D2);

  /* Couleurs */
  --color-white: #ffffff;
  --color-border-black: #000000;

  /* Déclaration de la police Bebas Neue */
  --font-bebas-neue : 'Bebas Neue';
  --font-open-sans-regular: 'Open Sans';  
  --font-open-sans-light: 'Open Sans';
  --font-open-sans-light-italic: 'Open Sans';
}

/* Style spécifique du h1 */
h1 {
  background: var(--color-bgGardient1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: var(--font-bebas-neue), sans-serif;
}

/* Style spécifique du h2 */
h2 {
  color: var(--color-white);
  font-family: var(--font-bebas-neue), sans-serif;
}

/* Style spécifique du h3 avec un dégradé sur le texte */
h3 {
  background: var(--color-bgGardient1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: var(--font-bebas-neue), sans-serif;
}

/* Style spécifique du h4 avec une couleur de texte 
   red-700 = #b91c1c 
   red-800 = #7f1d1d
   orange-300 = #fdba74
   orange-800 = #9a3412
   rose-800 = #9f1239
   pink-800 = #9d174d
*/
h4 {
  color: #fdba74; /* red-900 */
  font-family: var(--font-bebas-neue), sans-serif;
}

/* h5 et h6 restent sans font-size fixe pour laisser la flexibilité aux container queries */

/* Exemple de classe d'un conteneur utilisant le dégradé */
.couleurConteneur {
  background: var(--color-bgGardient1);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}


input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}



/* Classes utilitaires */
@layer utilities {
  .bg-bgGardient1 {
    background: var(--color-bgGardient1);
  }
  .bg-bgGardient2 {
    background: var(--color-bgGardient2);
  }
  .bg-bgGardientNoire {
    background: var(--color-bgGardientNoire);
  }
  .bg-bgGardientNoire2 {
    background: var(--color-bgGardientNoire2);
  }
  .bg-white {
    background: var(--color-white);
  }
  .border-black{
    border: 1px solid var(--color-border-black);
  }
  .border-white {
    background: var(--color-white);
    border: 1px solid var(--color-border-black);
  }
  .border-gardient {
    border: 4px solid transparent;
    border-image: var(--color-bordure-gardient) 1;
  }
  .border-tb-gardient {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: none;
    border-right: none;
    border-image: var(--color-bordure-gardient) 1 stretch;
  }
  .border-b-gardient {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 4px solid transparent;
    border-image: var(--color-bordure-gardient) 1 stretch;
  }
}

/* Classes utilitaires pour l'animation */
@layer utilities {
  @keyframes slideInSlow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .animate-slide-in-slow {
    animation: slideInSlow 3s ease-out forwards;
  }

  @keyframes fadeOutSlow {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .animate-fade-out-slow {
    animation: fadeOutSlow 4s ease-out forwards;
  }
}

*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(p):not(input):not(textarea)   {
  font-family: var(--font-open-sans-light), sans-serif;
  font-weight: 300;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset !important;
}